@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  display: flex;
  flex-direction: column;
  color: rgb(217, 199, 199);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333333;
  align-items: center;
  min-height: 100vh; /* Ustawienie minimalnej wysokości na całą wysokość widoku */
}

.hidden {
  display: none;
}

/* Kontener dla formularza */
.form-container {
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; /* Dostosowanie szerokości do widoku */
  height: auto; /* Dostosowanie wysokości do zawartości */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom: 70px; /* Dodatkowy margines na dole formularza */
  margin-left: 10px;
  margin-right: 10px;
  max-height: calc(100% - 150px); /* Odejmujemy wysokość stopki */
  overflow-y: auto; /* Dodajemy pasek przewijania, gdy formularz jest zbyt długi */
}

h2 {
  text-align: center;
  margin: 10px auto;
}
.form-container h2 {
  text-align: center;
  justify-content: center;
}

.form-container label {
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="radio"],
.form-container button {
  margin-bottom: 5px; /* Odstęp między elementami */
}

.error-msg,
.success-msg {
  text-align: center;
}

.hidden {
  display: none; /* Ukrycie komunikatów */
}

/* Kontener dla siatki samochodów */
.car-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Automatycznie dopasowuje kolumny do szerokości kontenera */
  gap: 10px; /* Odstęp między elementami siatki */
  max-width: calc(95% - 20px); /* Maksymalna szerokość minus marginesy */
  margin: 50px auto; /* Centrowanie siatki poziomo */
  margin-top: 5px;
  background-color: #333333;
}

/* Każdy pojedynczy wpis samochodu */
.car-entry {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  height: auto; /* Ustawienie wysokości na automatyczną, aby dopasować się do zawartości */
  max-height: 400px; /* Ustawienie maksymalnej wysokości */
  padding: 10px;
}

.car-image {
  max-width: 100%;
  height: auto; /* Zachowanie proporcji */
  min-height: 150px;
  max-height: 150px;
  background-size: cover; /* Zapewnienie, że obraz tła pokrywa cały obszar */
  background-position: center; /* Wyśrodkowanie obrazu tła */
}

.car-entry:hover {
  transform: scale(1.05);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(185, 158, 158);
  color: rgb(65, 60, 60);
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 10 auto;
  padding: 5px;
  z-index: 1; /* Przesunięcie stopki na wierzch */
}

.footer-text {
  color: #333333;
  font-weight: 900;
  flex-grow: 1;
  align-items: flex-start;
}

.footer--icons {
  display: flex;
  align-items: center; /* Wyśrodkowanie ikon w pionie */
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .footer-text {
    display: none;
  }
}

.icon-wrapper {
  margin: 0 10px; /* Dodaj margines poziomy dla każdej ikony */
  max-width: calc(83% - 10px);
}

p {
  align-items: center;
  justify-content: center;
  text-align: left;
}

.summary-content {
  text-align: center; /* Wyśrodkowanie tekstu */
}

.summary-content p {
  text-align: center; /* Wyśrodkowanie tekstu */
  margin: 10px auto; /* Dodanie marginesu na górze i dołu, a także automatyczne centrowanie */
}

@keyframes fireworks-animation {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(720deg);
    opacity: 0;
  }
}

.fireworks {
  position: fixed;
  top: 100vh;
  left: 50%;
  transform: translateX(-50%);
  width: 10px; /* Szerokość konfetti */
  height: 10px; /* Wysokość konfetti */
  background-color: #ffffff; /* Kolor konfetti */
  border-radius: 50%;
  animation: confetti-animation 2s ease-in-out; /* Użyj animacji confetti-animation */
}

#returnBtn {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#returnBtn:hover {
  background-color: #555;
}

#purchaseBtn {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#purchaseBtn:hover {
  background-color: #555;
}

/* #backToMainViewBtn {
  background-color: #827d7d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
} */

#backToMainViewBtn {
  position: fixed; /* Ustawienie przycisku jako stałej pozycji */
  bottom: 20px; /* Odległość od dołu widoku */
  left: 50%; /* Wyśrodkowanie przycisku w poziomie */
  transform: translateX(-50%); /* Wyśrodkowanie przycisku w poziomie */
  background-color: #827d7d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  z-index: 999; /* Umieszczenie przycisku na wierzchu */
}

#backToMainViewBtn:hover {
  background-color: #666;
  align-items: left;
}

li {
  display: flex;
  /* justify-content: space-between; */
  align-items: left;
}

/* Styl dla listy */
#accessories-list {
  list-style-type: none; /* Usunięcie domyślnego punktowania */
  padding: 0; /* Usunięcie wewnętrznego marginesu */
}

/* Styl dla elementów w liście */
#accessories-list li {
  display: flex; /* Ustawienie elementów w jednym rzędzie */
  align-items: center; /* Wyśrodkowanie w pionie */
}
#accessories-list li span {
  margin-right: auto; /* Przesunięcie tekstu na lewy brzeg */
}
/* Styl dla przycisków plus i minus oraz pola input */
.quantity-btn,
.quantity-input {
  width: 20px;
  flex-shrink: 0;

  text-align: center;
}

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.summary-content {
  text-align: center;
}

.summary-image {
  max-width: 100%;
  margin-top: 20px;
}
.summary-content ul {
  text-align: center; /* Ustawienie tekstu na lewą stronę */
  margin: 0 auto; /* Automatyczne centrowanie listy */
  max-width: 80%; /* Maksymalna szerokość listy */
}
.summary-content ul li {
  text-align: center; /* Wyśrodkowanie tekstu wewnątrz elementu li */
  margin: 0 auto; /* Automatyczne centrowanie elementu li */
  display: inline-block; /* Element będzie zachowywał się podobnie do tekstu */
}
